<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <title>Quarantine Companion - COVID-19 Stats</title>
    <link href="../public/stylesheets/style.css"  rel="stylesheet"  type="text/css" />


    <!-- load Babell, React, and google geocoding service -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
</head>

<body>
    <div class="main">
        <h1><u>COVID-19 Stats</u>:</h1>
        <p>It's important to keep up to date<br>
            with what's happening outside!<br>
            Below is data showing COVID-19<br>
            cases based on your location:</p>

        <div id="root"></div>
        
        <p><a href="index.html">Go Back</a></p>
    </div>

    <div>
        <p>Press space to toggle dark mode!</p>
    </div>

    <script src="darkMode.js">
	</script>

  <script type="text/babel">
  var output = {};

  var requestOptions = {
    method: 'GET',
    redirect: 'follow'
  };

  class CovidCounter extends React.Component {
    state = {
      country : "",
      last_update : null,
      cases : 0,
      deaths : 0,
      recovered : 0
    }

    async componentDidMount() {
      const today = new Date().toISOString().slice(0, 10); // get date in iso format
      const response = await fetch(`https://covid19-api.org/api/status/CA?date=` + today, requestOptions)
      const output = await response.json();
  

      console.log(output)
      this.setState({
        country : output.country,
        last_update : output.last_update,
        cases : output.cases,
        deaths : output.deaths,
        recovered : output.recovered
      });
    }

    render () {
      console.log(this.state)
      return <div>
      <b>{this.state.country}</b>
        <p><b>Cases</b>: {this.state.cases}</p> 
        <p><b>Deaths</b>: {this.state.deaths}</p>
        <p><b>Recovered</b>: {this.state.recovered}</p>
      </div>
    }
  }

  ReactDOM.render(
      <CovidCounter />,
      document.getElementById('root')
  );

  </script>
</body>

</html>
