<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="view" content="width=device-width">
    <title>Quarantine Companion</title>
    <link href="/public/stylesheets/style.css"  rel="stylesheet"  type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<SCRIPT LANGUAGE="JAVASCRIPT">
var messages = new Array();
messages[0] = "Drink lots of water!"
messages[1] = "Eat healthy food!"
messages[2] = "Get lots of sleep!"
messages[3] = "You can do this!"
messages[4] = "Don't forget to keep active!"

var message = messages[Math.floor(Math.random()*messages.length)];
</script>

<body>
    <div class="logo">
        <img src="/public/images/QuarantineCompanion.png" width="250">
    </div>

    <div class="banner">
        <h1><u>Self-Care</u>:</h1>
        <p>
            <script type="text/javascript">
                document.write(message)
            </script>
        </p>
    </div>

    <div class="main">
        <h1>Quarantine Companion</h1>
        <p>Your <b><u>friend</u></b> in quarantine!</p>
        <p><a href="/food"> Food Delivery </a></p>
        <p><a href="/entertainment"> Entertainment </a></p>
        <p><a href="/covid"> Covid-19 Stats </a></p>
    </div> 

    <div>
        <p>Press space to toggle dark mode!</p>
    </div>
    
    <script src="/public/script/darkMode.js">
    </script>
    
    <button type="button" id="emergency-button">Call Emergency</button>
    <script src="/public/script/emergencyButton.js"></script>  

</body>
</html>